{{ include('partials/header.twig') }}
	<h1>{{student.first_name}}</h1>
	<h3>{{student.last_name}}</h3>
	<h5>Mail : {{student.last_name}}{{student.first_name}}@hetic.net</h5>
	<p>Développement : {{student.skill_development}}</p>
	<p>Design : {{student.skill_design}}</p>
	<p>Marketing : {{student.skill_marketing}}</p>
	<p>Culture générale : {{student.skill_general_culture}}</p>
{{ include('partials/footer.twig') }}